.cabecera p{
    color: cornsilk;
    padding: 9px;
    text-align: center;
    text-decoration: darkblue;
    font-style: oblique;
    font-size: xx-large;
}

.nav2 {
    height: 50px;
    margin-top: 70px 70px;
    text-align: center;
    padding: 19px ;
    background-color: #101010;
}

.ocultar {
    display: none;
}